<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>연지공지 메인페이지</p><br />

연애할지, 공부할지 고민하지마<br />

<div>
<% if user_signed_in? %>
        <%= link_to "회원정보", edit_user_registration_path %>
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
<% else %>
        <%= link_to "로그인", user_session_path %>
        <%= link_to "회원가입", "/users/sign_up" %>
<% end %>
</div>
<br/>
<hr/>
<br/>
<%= alert %>
<%= notice %>
<h2 style="font-weight: bold">로그인 정보</h2>
<% if user_signed_in? %>
    <div>
        아이디 : <%= current_user.email %><br/>
        유저 No. : <%= current_user.id %>
    </div>
<% else %>
    로그인 되어있지 않음.
<% end %>

